<footer>
    <div class="footer">
       <div class="fo-icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
       </div>
       <div class="fo-company">
          &copy; TravelRent Pvt. Ltd.
       </div>
       <div class="fo-links">
          <a href="/privacy">Privacy</a>
          <a href="/terms">Terms</a>
       </div>
    </div>
</footer>














