body {
    /* background-color: #5c5252 !important; */
    background-color: #270f48 !important;
}

h1 {
    color: goldenrod !important;
}

/*navbar styling*/

.navbar {
    height: 5rem;
    background-color: #393535;
}

.fa-compass {
    /* color: #e9e0e0; */
    color: sandybrown;
    font-size: 2rem;
    transition: transform 0.3s ease; /* smooth rotation */
}

.fa-compass:hover{
    transform: rotate(90deg);
}

.nav-link {
    color: goldenrod!important; /*Overwrite Bootstrap property on selected class*/
    font-weight: 500 !important;
}

.navbar-toggler {
    background-color: #925adb !important;
}

.navbar-toggler:hover {
    background-color: #a480d3 !important;
}


#check a:hover{
    color:#925adb !important;
}

#check2 a:hover{
  font-weight: bold !important;
}
/* --------------------x-------------- */

/* Footer styling */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 7rem;
    background-color: rgb(118, 111, 111);
}

.fo-icons {
      width: 100%;
      font-size: 20px;
}

.fo-company {
      width: 100%;
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
}

.fo-links a {
    text-decoration: none ;
    color: #222222;
    font-size: 17px;
}

.fo-links :hover{
    text-decoration: underline ;
}

.fo-icons i {
    margin: 0 10px;
    cursor: pointer;
}

/* -------------------x------------------- */

/* Index Styling i.e. Main page Places Appearing styling */

.card {
    border: none !important;  
    margin-bottom: 4rem !important;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    background-color: #270f48 !important;
}

.card img {
    border-radius: 1rem !important;
}

.card-body {
    padding: 0 !important;
}

.card-body .card-text1{
    color: whitesmoke;
    font-size:large;
}

.card-body .card-text-2{
    color: whitesmoke;
    font-size:medium;
    margin-left: 40px;
}

.lists-anchor {
    text-decoration: none;
}


.card-img-overlay {
    opacity: 0;
}


.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white !important;
}

/* -------------------------x------------------- */


/* Add NEW Place Listing Page Styling:- */

.add-btn {
    background-color: #fe424d !important;
}

.add-btn:hover {
    background-color: #f0212f !important;
}

#newPlaceHeading {
     color: goldenrod !important;
}

#newPlaces {
    color: whitesmoke;
}

/* -------------------------x--------------------- */


/*  Edit Place Information wepage Styling */

.edit-btn {
    background-color: #fe424d !important;
}

.edit-btn:hover {
    background-color: #f0212f !important;
}

#editPlaces label {
    color: whitesmoke;
}

/* ------------------------x--------------- */

/* Place Details Webpage Styling:- */

.heading h2{
    text-align: center !important;
    color: goldenrod !important;
}
.card {
    align-items: center;
}

p b {
    color: whitesmoke !important;
}

p {
    color: antiquewhite;
}

#review h2{
    color: whitesmoke;
}

#review label{
    color: antiquewhite;
}

#AllReviews h4{
    color: whitesmoke;
}

#AllReviews .card i{
    color: azure;
}

.card-text strong{
    color: aquamarine !important;
}

.card-img-top {
    object-fit: cover;
}

.edit-2-btn {
    background-color: #fe424d !important;
}

.edit-2-btn:hover {
    background-color: #f0212f !important;
}

.delete-btn {
    background-color: rgb(3, 119, 3) !important;
}

.delete-btn:hover {
    background-color: rgb(10, 150, 10) !important;
}
/* --------------------x------------------- */


/* Project Phase 3 Part B "Maps" */
/* .maps iframe {
    border-radius: 10px !important;
    width: 600px;
    height: 450px;
    border: 0;
    margin-left: 200px;
} */

/* ------------------------------------------------------------------- */


/* Project Phase 3 Part C "Ui icons" */

.icons {
    display: flex;
    justify-content: flex-start;
    cursor:context-menu ;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin-left: 90px;
    padding-top: 15px;
}

.icons .icon {
    padding-inline: 15px;
    border-radius: 5px;
    text-align: center;
    color: #cbc7d0;
}

/* .icons .label {
    margin-left: -12px;
} */

.icon:hover {
   background-color: #7e7777;
}

/*  Search Bar from Bootstrap */

#searchbar {
    margin-left: 290px;
}

/* --------------------------------------------------------- */

/* 26/08/2025 */
/* SignUp & Login UI Page changes */

#signUpLabel {
    color: whitesmoke;
}

#loginLabel {
    color: whitesmoke;
}

#bookLabel label {
    color: whitesmoke;
}